[project]
	description = Web client for Unified Storage Manager
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prabu-raj
[access "refs/for/refs/*"]
	read = group user/Prabu-raj
	push = group user/Prabu-raj
	label-Code-Review = -2..+2 group user/Prabu-raj
	label-Verified = -1..+1 group user/Prabu-raj
	rebase = group user/Prabu-raj
	removeReviewer = group user/Prabu-raj
	submit = group user/Prabu-raj
[access "refs/heads/*"]
	read = group user/Prabu-raj
	create = group user/Prabu-raj
	push = +force group user/Prabu-raj
	pushMerge = group user/Prabu-raj
[access "refs/tags/*"]
	push = +force group user/Prabu-raj
	pushTag = group user/Prabu-raj
	pushSignedTag = group user/Prabu-raj
